	@charset "utf-8";
	
	#SurveyPreferGender {
		width: 500px;
		display: flex;
	}
	
	.surveyPreferGender {
		margin-top: 30px;
		padding: 10px;
	}
	
	.surveyPreferGenderHeader {
		margin-bottom: 50px;
	}
	
	#surveyPreferJob {
		width: 500px;
		display: flex;
	}
	
	#surveyPreferQuestion {
		width: 500px;
		display: flex;
	}
	
	#surveyPreferAge {
		width: 500px;
		display: flex;
	}
	
	.img_back>a {
		display: block;
		width: 135px;
	}